<h1>Listing ideas</h1>

<table class="table table-striped">
  <tr>
    <th>Namd</th>
    <th>Description</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.namd %></td>
    <td><%= idea.description %></td>
    <td><%= image_tag idea.picture_url(:thumb), class: 'img-circle' if idea.picture? %></td>

    <td>
  <%= link_to idea, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-search"></span>
    Show
  <% end %>
</td>

    <td>
    <%= link_to edit_idea_path(idea), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
   </td>

    <td>
  <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-remove"></span>
    Destroy
  <% end %>
</td>

  </tr>
<% end %>
</table>

<br />

<%= link_to new_idea_path, class: 'btn btn-primary btn-lg' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Idea
<% end %>
